<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Lighthouse Pizza</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap" rel="stylesheet">


  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/landingPage.css" type="text/css" />
  <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/helperFunctions.js" async></script>

</head>

<body>
  <!-- Nav bar position fixed -->
  <a name="top"></a>
	<div class="top-header">
		<header>
			<div class="content">
				<div class="logo">
					<a href="#">Lighthouse Pizza</a>
				</div>
				<nav>
					<a href="/">Home</a> <a href="/#foodSection">Order Now</a> <a class="nav-item nav-link" href="/checkout">Checkout</a>
				</nav>



  <!-- Header-->

			</div>
		</header>
		<div class="image-text">
			<h2>LIGHTHOUSE PIZZA</h2>
		</div>




    </div>
  </div>
</body>

</html>
