<!DOCTYPE html>
<html lang="en">

<head>
  <title>menu</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/menu.js"></script>


</head>

<body>
  <%- include("partials/_header") %>
    <div class="menu_page">
      <div>
        <h1>menu</h1>
        <input type="button" onclick="location.href='/menu';" value="Clear Cart" />
      </div>
      <form method="POST" action="/checkout">
        <div>
          <table id="menu"></table>
        </div>
        <div>
          <label>Subtotal: $<span id="subtotal">0</span></label><input type="submit" value="Checkout" id="checkout"/>
        </div>
        <div id="empty_cart"></div>
      </form>

    </div>


</body>

</html>