* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body {
	text-align: center;
}
.content {
	width: 1200px;
	margin: 0 auto;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	position: fixed;
  z-index: 1;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.image-text {
	width: 100%;
	height: 450px;
	position: fixed;
	top: 100px;
	background-image: url(https://images.pexels.com/photos/13736876/pexels-photo-13736876.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
	background-size: cover;
	background-position: center;
}
.image-text h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	color: #fff;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: 1500px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 2px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
